* {
    font-family: Verdana, sans-serif;
}

body {
    width: 1500px;
}

p {
    font-size: 18px;
    text-align: center;
    padding: 5%;
}

h4 {
    text-align: center;
}


blockquote {
    font-style: italic;
    font-size: large;
    padding: 4%;
}


#header {
    background-image: url(https://raw.githubusercontent.com/seanmich/seanmich.github.io/main/banner.jpg);
    margin: 0;
}

#title {
    margin: 0 auto 0 auto;
    text-align: center;
    padding: 2% 0 2% 0;
    font-size: 64px;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}


#banner-highlight {
    background-color: lightblue;
    color: black;
}

#map {
    text-align: center;
}

#vis2 {
    text-align: center;
    margin: 5% 0 0 7%;
}

.redtext {
    color: red;
}

.section-header {
    background-color: aquamarine;
    padding: 2%;
    text-align: center;
}